.Navigation {
    background-color: var(--blue);
    color: var(--mtc);
    font-size: var(--mfs);
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50px;
    position: fixed;
    padding: 10px 5%;
    position: relative;
}

.Logo {
    height: 50px;
    object-fit: contain;
}

.Logo img {
    width: 100%;
    height: 100%;
}

.links {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: transform 0.5s, opacity 0.5s;
}

.UserAndLang {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    color: var(--mtc);
}

.BurgerButton {
    display: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .links {
        display: none;
    }

    .BurgerButton {
        display: block;
    }

    .links.visible {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 30%;
        background-color: var(--light-gray);
        justify-content: center;
        align-items: center;
        transform: translateX(0);
        opacity: 1;
    }

    .links:not(.visible) {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .links.visible {
        width: 50%;
    }
}

@media (max-width: 425px) {
    .links.visible {
        width: 100%;
    }
}
