.Account{
    display: flex;
    flex-direction: row;
    background-image: url('../background_images/pic-bus-6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.WelcomePartAccount{
    width: 80%;
    background-color: var(--mbc);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    justify-content: space-between;
    margin: 60px 10%;
    
}