.Home {
    padding: 60px 5% 60px 5%;
    width: 90%;
    color: var(--mtc);
    background-image: url('../background_images/pic-bus-1.png');
    background-size: cover; /* Зображення покриває весь елемент */
    background-repeat: no-repeat; /* Зображення не повторюється */
    background-position: center center; /* Позиціювання зображення по центру */
}

.MainContent{
    padding: 0px 0px 40px 0px;
}

.WelcomminPart{
    color: var(--blue);
    padding: 20px 5%;
    width: 90%;
}

.TextWelcommingPart{
    display: flex;
    flex-direction: column;
    
}

.MainGreeting{
    font-size: var(--vbfs);
}

.SecondGreeting{
    font-size: var(--mfs);
}

.PickingPart{
    margin-top: 120px;
}