.picking-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  color: var(--blue);
  background-color: var(--light-gray);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.picking-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Додаємо це, щоб розмістити елементи */
  align-items: flex-start;
  width: 200px;
  height: 70px; /* Висота контейнера */
}

.picking-select {
  width: 100%;
}

.picking-datepicker {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--gray);
}

.picking-passengers {
  display: flex;
  flex-direction: row; /* Вертикальне вирівнювання */
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.picking-passengers button {
  width: 20%;
  height: 30px;
  border: none;
  background-color: var(--blue);
  color: var(--mtc);
  cursor: pointer;
  border-radius: 4px;
}

.picking-passengers input {
  width: 40%;
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: 4px;
  height: 30px;
}

.picking-search {
  background-color: var(--blue);
  color: var(--mtc);
  padding: 10px 40px;
  height: 40px;
  width: 170px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.picking-search:hover {
  background-color: var(--dark-blue);
}
