.PrivacyPolicy{
    width: 90%;
    padding: 60px 5%;
    background-image: url('../background_images/pic-bus-5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}